:root {
  scroll-behavior: smooth;
  --ratio: 1.4;
  --measure: 55ch;
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  font-size: calc(0.1vw + 1em);
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-special: "Inter Black", Helvetica, sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --white: #fafafa;
  --black: #050505;
  --green: #68d391;
  color: var(--black);
  background-color: var(--white);
  --border-width: 2px;
}

/*************
 * UTILITIES *
 *************/

.text-base {
  font-size: var(--s0);
}
.text-sm {
  font-size: var(--s-1);
}
.text-center {
  text-align: center;
}
.font-normal {
  font-family: var(--font-plain);
  font-weight: normal;
}

/**************
 * typography *
 **************/

body {
  font-family: var(--font-plain);
}

h1 {
  font-family: var(--font-special);
  font-weight: 900;
  font-size: calc(var(--s3) + 3vw);
  line-height: 1.1;
}

h2 {
  line-height: 1.1;
}

p {
  line-height: 1.625;
}

h3 {
  font-size: var(--s1);
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

/**********
 * BLOCKS *
 **********/

.taglist {
  font-family: var(--font-mono);
  font-size: var(--s-1);
}
