/********
 * BLOG *
 ********/

.blog {
  --measure: 75ch;
}

.blog header > * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.blog main {
  padding-left: var(--s0);
  padding-right: var(--s0);
  padding-bottom: var(--s4);
}

.blog-home-header {
  padding: calc(var(--s2) + 4.5vw);
  background: var(--black);
  color: var(--white);
}

.blog nav {
  padding: var(--s2) var(--s0);
}
.blog nav > a + a {
  margin-left: var(--s2);
}

.blog h1 {
  font-size: calc(var(--s1) + 3vw);
}

.post-list {
  margin-top: calc(var(--s3) * -1);
  position: relative;
  background: var(--white);
  box-shadow: 0.5rem 0.5rem 0 var(--black);
}

.post-list article > * + * {
  margin-top: var(--s0);
}

.post-list article {
  border: 3px solid;
  padding: var(--s2);
}
.post-list > article + article {
  border-top: none;
}

.post-list {
  --measure: calc(50ch + 2 * var(--s2));
}

.post-list a {
  text-decoration: none;
}

.post-list h2 {
  font-family: var(--font-special);
  font-size: var(--s1);
  font-weight: 700;
}

.post-list .post--meta > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post-list .post--meta > * {
  margin-top: calc(var(--s0) * -1);
}

.post-list .post--meta > * > * {
  margin-top: var(--s0);
}

.post-list .post--meta a {
  background: var(--white);
  color: var(--black);
  padding: var(--s-2) var(--s0);
  border: 3px solid;
  box-shadow: 0.15rem 0.15rem 0 var(--black);
}

.post-list .post--meta a::after {
  content: "-->";
  font-family: var(--font-mono);
  letter-spacing: -0.15rem;
  margin-left: var(--s-3);
}

.post-list .post--meta a:hover {
  transform: translate(0.15rem, 0.15rem);
  box-shadow: none;
}

.blogpost h1 {
  font-size: calc(var(--s1) + 2vw);
}

.blogpost ul[class] {
  list-style: none;
}
.blogpost ul {
  list-style: inherit;
}
.blogpost ul > li + li {
  margin-top: var(--s1);
}
.blogpost ul li > * + * {
  margin-top: var(--s-3);
}

.blog .post {
  --measure: 60ch;
}

.blog .post h2 {
  font-family: var(--font-special);
  font-size: calc(var(--s0) + 1.8vw);
}

.blog blockquote > * + * {
  margin-top: var(--s0);
}
.blog blockquote {
  border-left: 3px solid;
  padding-left: var(--s0);
  padding-top: var(--s-4);
  padding-bottom: var(--s-4);
}

.blog code {
  font-size: 1.1em;
  font-family: var(--font-mono);
}
.blog pre {
  background-color: var(--black);
  color: var(--white);
  padding: var(--s1);
  overflow-x: scroll;
}
/* stolen from https://hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/ */
.blog figure,
.blog pre,
.full-bleed {
  width: 100vw;
  max-width: calc(1.2 * var(--measure));
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  box-sizing: border-box;
}

.blog img {
  filter: grayscale(100%) contrast(1.5);
}
.blog figcaption {
  font-size: var(--s-1);
  padding-left: var(--s-4);
  padding-right: var(--s-4);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
}

.project-list h2 {
  font-family: var(--font-special);
}

.project-list article h2 {
  background: var(--white);
  transform: translate(0, -50%);
  font-family: var(--font-special);
  font-size: var(--s0);
  border: 3px solid;
  padding: var(--s-2) var(--s0);
  display: inline-block;
  box-shadow: 0.25rem 0.25rem 0 var(--black);

  position: absolute;
  top: 0;
}

.project-list article > * + * {
  margin-top: var(--s2);
}
.project-list article > h2 + * {
  margin-top: 0;
}

.project-list article {
  background: var(--white);
  outline: 3px dashed;
  padding: var(--s3) var(--s1);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
