/********
 * BLOG *
 ********/

.blog {
  --measure: 75ch;
}

.blog header {
  padding: var(--s1) 0;
}

.blog nav {
  display: flex;
  justify-content: flex-end;
}

.blog nav a {
  margin: calc(var(--s-2) / 2) calc(var(--s2) / 2);
}

@media (max-width: 50ch) {
  .blog nav {
    flex-direction: column;
  }
}

.blog header a[href="/"] {
  font-weight: bold;
}

.blog header a {
  text-decoration: none;
}

.blog main {
  padding-bottom: var(--s4);
}

.blog-home-header {
  padding: calc(var(--s2) + 4.5vw);
  background: var(--black);
  color: var(--white);
}

.blog h1 {
  font-size: calc(var(--s1) + 3vw);
}

.post-list {
  --measure: calc(50ch + 2 * var(--s2));
  margin-top: calc(var(--s3) * -1);
  position: relative;
  background: var(--white);
  box-shadow: 0.5rem 0.5rem 0 var(--black);
}
@media (max-width: 50ch) {
  .post-list {
    margin-top: 0;
    box-shadow: none;
  }
  .post-list > article:last-child {
    border-bottom: none;
  }
}

.post-list article > * + * {
  margin-top: var(--s0);
}

.post-list article {
  border: var(--border-width) solid;
  padding: var(--s2);
}
.post-list > article + article {
  border-top: none;
}
@media (max-width: 50ch) {
  .post-list article {
    border-left: 0;
    border-right: none;
  }
}

.post-list a {
  text-decoration: none;
}

.post-list h2 {
  font-family: var(--font-special);
  font-size: var(--s1);
  font-weight: 700;
}

.post-list .post--meta > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.post-list .post--meta > * {
  margin-top: calc(var(--s0) * -1);
}

.post-list .post--meta > * > * {
  margin-top: var(--s0);
}

.post-list .post--meta a {
  background: var(--white);
  color: var(--black);
  padding: var(--s-2) var(--s0);
  border: var(--border-width) solid;
  box-shadow: 0.15rem 0.15rem 0 var(--black);
}

.post-list .post--meta a::after {
  content: "-->";
  font-family: var(--font-mono);
  letter-spacing: -0.15rem;
  margin-left: var(--s-3);
}

.post-list .post--meta a {
  transform: translate(-0.15rem, -0.15rem);
}
.post-list .post--meta a:focus,
.post-list .post--meta a:hover {
  transform: translate(0, 0);
  box-shadow: none;
}

.blogpost {
  padding-left: var(--s0);
  padding-right: var(--s0);
}

.blogpost h1 {
  font-size: calc(var(--s1) + 2vw);
}

.blogpost ul[class] {
  list-style: none;
}
.blogpost ul {
  list-style: inherit;
}
.blogpost ul > li + li {
  margin-top: var(--s1);
}
.blogpost ul li > * + * {
  margin-top: var(--s-3);
}

.blog .post {
  --measure: 60ch;
}

.blog .post * + h2 {
  margin-top: var(--s5);
}
.blog .post h2 {
  font-family: var(--font-special);
  font-size: var(--s1);
}

.blog blockquote > * + * {
  margin-top: var(--s0);
}
.blog blockquote {
  border-left: var(--border-width) solid;
  padding-left: var(--s0);
  padding-top: var(--s-4);
  padding-bottom: var(--s-4);
}

.blog code {
  font-family: var(--font-mono);
}
.blog pre {
  background-color: var(--black);
  color: var(--white);
  padding: var(--s1);
  overflow-x: scroll;
}
/* stolen from https://hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/ */
.blog figure,
.blog pre,
.full-bleed {
  --bleed-ratio: 1.2;
  width: 100vw;
  max-width: calc(var(--bleed-ratio) * var(--measure));
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  box-sizing: border-box;
}
.blog figure,
.blog pre {
  --bleed-ratio: 1.05;
}

.blog .gray img {
  filter: grayscale(100%) contrast(1.5);
}
.blog figcaption {
  font-size: var(--s-1);
  padding-left: var(--s-4);
  padding-right: var(--s-4);
}

.footnote-ref a {
  scroll-margin: var(--s4);
}
.footnotes-sep {
  margin-top: var(--s5);
}
ol.footnotes-list {
  list-style: revert;
  padding: revert;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
}

.project-list h2 {
  font-family: var(--font-special);
}

.project-list article h2 {
  background: var(--white);
  transform: translate(0, -50%);
  font-family: var(--font-special);
  font-size: var(--s0);
  border: var(--border-width) solid;
  padding: var(--s-2) var(--s0);
  display: inline-block;
  box-shadow: 0.25rem 0.25rem 0 var(--black);

  position: absolute;
  top: 0;
}

.project-list article > * + * {
  margin-top: var(--s2);
}
.project-list article > h2 + * {
  margin-top: 0;
}

.project-list article {
  background: var(--white);
  outline: var(--border-width) dashed;
  padding: var(--s3) var(--s1);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-list .project--links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.github-mark {
  width: var(--s1);
}
