---
layout: blog_layout.njk
title: Blog
---
<div class="stack:3">
  <div class="bg-black text-white px-4 py-12">
    <div class="center-no-intrinsic">
      <div class="stack">
        <h1 class="leading-tight">{{ title }}</h1>
        <div>Développement web, performances, inclusivité</div>
      </div>
    </div>
  </div>
  <ul class="center-no-intrinsic">
    <div class="stack">
      {%- for post in collections.post | reverse -%}
        <li>
          <h2>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </h2>
          <p>{{ post.data.date | dateFilter }}</p>
        </li>
      {%- endfor -%}
    </div>
  </ul>
</div>
