---
layout: blog_layout.njk
title: Blog
---
<div class="stack:3">
  <div class="center-no-intrinsic">
    <div class="stack full-bleed blog-home-header">
      <h1>{{ title }}</h1>
      <div>Développement web, performances, inclusivité</div>
    </div>
  </div>
  <div class="center-no-intrinsic post-list">
    {%- for post in collections.posts | reverse -%}
      {% set ctaText = post.data.cta or "Lire l'article" %}
      <article>
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
        <div class="post--meta">
          <div>
            <time datetime="{{post.data.date}}">{{ post.data.date | dateFilter }}</time>
            <a
              arial-label="{{ ctaText }} {{ post.data.title }}"
              href="{{ post.data.externalLink  or post.url }}"
              >
                {{ ctaText }}
            </a>
          </div>
        </div>
      </article>
    {%- endfor -%}
  </div>
</div>
