{% extends "layouts/base.njk" %}

{% block extra_css %}
  {% include "css/home.css" %}
{% endblock %}

{% block content %}
  <section class="home">
    <header>
      <div class="stack">
        <h1 class="leading-none">
          Kim Laï Trinh
        </h1>
        <div>
          Développeur web freelance
        </div>
        <div>
          <nav>
            <a href="#about">
              à propos
            </a>
            <a href="#experience">
              réalisations
            </a>
            <a href="/blog">
              blog
            </a>
            <a href="/projects">
              projets
            </a>
          </nav>
          <a id="contact" href="mailto:hello@kimlaitrinh.me">
            <ul class="animated-contact">
              <li>contact</li>
              <li>
                mailto : hello@kimlaitrinh.me
              </li>
            </ul>
          </a>
        </div>
      </div>
    </header>
    <main>
      <section>
        <div class="center">
          <div class="stack:3">
            <h2 id="about"><em>à propos</em> de moi</h2>
            <p>
              Depuis 2011, je construis des choses sur le web. Pendant toutes
              ces années, j'ai consolidé une certaine vision de mon métier.
            </p>
            <article>
              <h3>Le web doit être ouvert à tous</h3>
              <p>
                Les performances et l'accessibilité sont essentielles dans mon
                approche du développement. Le prix investi dans un smartphone,
                une mauvaise connexion ou une situation de handicap ne doivent
                jamais empêcher l'accès au web.
              </p>
            </article>
            <article>
              <h3>Tout le monde doit pouvoir construire le web</h3>
              <p>
                J'aime travailler dans des équipes qui prennent au sérieux la
                diversité et l'autonomie. J'aime également transmettre mes
                connaissances et partager mon expérience, que ce soit pendant
                des revues de code, du <i>pair programming</i>, des ateliers ou
                des conférences.
              </p>
            </article>
            <article>
              <h3>La technologie n'est qu'un outil</h3>
              <p>
                Quelles que soient les technologies choisies pour réaliser un
                projet, elles doivent rester au service des utilisateurs du web,
                et permettre une approche d'<a
                  href="https://developer.mozilla.org/fr/docs/Glossaire/Am%C3%A9lioration_progressive"
                  >amélioration progressive</a
                >.
              </p>
            </article>
            <ul class="skills">
              <li>
                <div class="cluster">
                  <ul class="taglist">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>React</li>
                    <li>vue-js</li>
                    <li>Elm</li>
                    <li>Typescript</li>
                    <li>PWA</li>
                    <li>JAMstack</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="cluster">
                  <ul class="taglist">
                    <li>PostgreSQL</li>
                    <li>Elixir</li>
                    <li>NodeJS</li>
                    <li>PHP</li>
                    <li>Phoenix</li>
                    <li>Symfony</li>
                    <li>Express</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="cluster">
                  <ul class="taglist">
                    <li>GNU/Linux</li>
                    <li>OSX</li>
                    <li>git</li>
                    <li>docker</li>
                    <li>bash</li>
                    <li>Nginx</li>
                    <li>AWS</li>
                    <li>Heroku</li>
                    <li>Netlify</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="cluster">
                  <ul class="taglist">
                    <li>intégration continue</li>
                    <li>TDD</li>
                    <li>DDD</li>
                    <li>déploiement continu</li>
                    <li>revue de code</li>
                    <li>pair/mob programming</li>
                    <li>BDD</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="experience">
        <div class="center:3/2">
          <div class="stack:5">
            <h2 id="experience" class="stack:-2">
              quelques <em>réalisations</em>
              <div class="text-sm font-normal">
                Une sélection arbitraire plus ou moins chronologique
              </div>
            </h2>
            <div class="stack:5">
              <article>
                <h3>Formateur chez Simplon</h3>
                <p>
                  Depuis 2021 j'enseigne le métier de développeur·se web dans cette
                  <b>formation pour adultes</b> sur 7 mois&nbsp;:
                  HTML, CSS, Javascript, PHP et SQL, on y parle
                  d'accessibilité, de sécurité, des bonnes pratiques du web (au travers de la
                  certification <a href="https://www.opquast.com/">Opquast</a>) et d'agilité.
                  Une de mes expériences professionnelles les plus enrichissantes.
                </p>
              </article>
              <article>
                <h3>Expert WebPerf @ Chanel</h3>
                <p>
                Depuis 2021 j'aide les équipes de Chanel à améliorer les <b>performances</b>
                  de leur site internet. Entre sensibilisation des équipes aux problématiques
                  de performance, spécifications des nouvelles fonctionnalités et amélioration
                  de l'existant.
                </p>
              </article>
              <article>
                <h3>Paris Web 2019</h3>
                <p>
                  J'ai eu la chance de pouvoir participer à la 14<sup>ème</sup>
                  édition de <b>Paris Web</b> en tant qu'orateur. Ma
                  <a
                    href="https://www.paris-web.fr/2019/conferences/autocritique-de-la-revue-de-code-bienveillante.php"
                  >
                    présentation
                  </a>
                  est une réflexion en forme de retour d'expérience sur les
                  dynamiques de <b>dominations sociales</b> à l'œuvre pendant la
                  <b>revue de code</b>. J'y présente également quelques pistes
                  que j'ai explorées pour essayer de mieux les maîtriser au sein
                  de l'équipe de
                  <em class="whitespace-no-wrap">la Ruche qui dit Oui&nbsp;!</em>
                </p>
              </article>
              <article>
                <h3>
                  Collectif Parenthèse
                </h3>
                <p>
                  Les architectes du
                  <a href="https://collectifparenthese.com"
                    >Collectif Parenthèse</a
                  >
                  avaient besoin d'un site clair, rapide et responsive pour
                  exposer leurs projets. Il a été réalisé en <b>Elixir</b> et
                  <b>Phoenix</b>, avec une interface d'administration en
                  <b>React</b>. On y trouve également une carte interactive
                  présentant leurs projets utilisant <b>Mapbox</b>. Une
                  attention particulière a été portée sur l'accessibilité du
                  site.
                </p>
              </article>
              <article>
                <h3>
                  La Ruche qui dit Oui !
                </h3>
                <p>
                  Développeur entre 2013 et 2019 au sein de l'équipe de
                  <a href="https://laruchequiditoui.fr"
                    >la&nbsp;Ruche&nbsp;qui&nbsp;dit&nbsp;Oui&nbsp;!</a
                  >, j'ai vu l'équipe passer de 5 à 15 développeurs. Nous y
                  avons mis en place la revue de code, l'<b
                    >intégration continue</b
                  >, et le <b>déploiement continu</b>. Nous avons également
                  beaucoup expérimenté avec les méthodes agiles afin de trouver
                  ce qui fonctionnait le mieux dans l'équipe, pour finir avec
                  des équipes pluri-disciplinaires autonomes (devs, design, PM).
                </p>
              </article>
              <article>
                <h3>
                  Deliveruche
                </h3>
                <p>
                  Réalisée au sein de <em>la Ruche qui dit Oui&nbsp;!</em>,
                  <b>Deliveruche</b> était une application de mise en relation
                  entre des livreurs professionnels et les clients de la Ruche.
                  Pour répondre aux besoin d'interaction en temps réel de
                  l'application, j'ai choisi <b>Elixir</b> et
                  <b>Phoenix</b> pour le côté serveur, et une
                  <b>Progressive Web App</b> côté client. Toujours pour gérer
                  les contraintes de temps réel liées à la livraison, ce projet
                  a également été l'occasion d'essayer les notifications
                  <b>WebPush</b>.
                </p>
              </article>
              <article>
                <h3>Me Likey Radio</h3>
                <p>
                  Depuis 2011, ce
                  <a href="https://radio.kimlaitrinh.me">site personnel</a> est
                  mon terrain d'expérimentation favori. Cette webradio utilise
                  les APIs de Soundcloud et Youtube, et permet de sauvegarder
                  ses morceaux favoris. Tour à tour codé en
                  <b>PHP/Symfony</b> et <b>jquery</b>, <b>nodeJS/Koa</b> et
                  <b>React</b>, puis <b>Elm</b>, il m'a permis de développer mes
                  compétences aussi bien techniques que de design UX/UI.
                </p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="know-more">
        <div class="center">
          <div class="stack:3">
            <h2 class="text-center">pour en savoir <em>plus</em></h2>
            <p>
              Je suis actuellement à la recherche de nouveaux projets&nbsp;!
            </p>
            <div class="center">
              <a id="contact-cta" href="mailto:hello@kimlaitrinh.me">
                👋&nbsp;dire bonjour
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-center">
      <div>© 2020 Kim Laï Trinh</div>
      <div>Ce site n'utilise pas de cookies :)</div>
    </footer>
  </section>
{% endblock %}
