---
layout: blog_layout.njk
title: Projets
---
<div class="stack:5">
  <div class="center-no-intrinsic">
    <div class="stack full-bleed blog-home-header">
      <h1>{{ title }}</h1>
      <div>Une sélection de projets personnels</div>
    </div>
  </div>
  <div class="center-no-intrinsic project-list">
    {%- for project in collections.projects -%}
      <article>
        <h2>{{ project.data.title }}</h2>
        <div class="stack">
          <p>{{ project.template.frontMatter.content | safe }}</p>
          <div class="cluster">
            <ul class="taglist">
              {%- for tag in project.data.dev_tags -%}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="stack:-2">
          <div>
            <a href="{{ project.data.permalink }}">{{ project.data.permalink }}</a>
          </div>
          <div>
            {% if project.data.github %}
                <a
                 aria-label="voir {{ project.data.title }} sur github"
                 href="{{ project.data.github }}"
               >
                 Github
               </a>
            {% else %}
              Ce repo est privé
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </ul>
</div>
