---
layout: blog_layout.njk
title: Projets
---
<div class="stack:3">
  <div class="center-no-intrinsic">
    <div class="stack bg-black text-white full-bleed blog-home-header">
      <h1 class="leading-tight">{{ title }}</h1>
      <div>Une sélection de projets personnels</div>
    </div>
  </div>
  <ul class="center-no-intrinsic project-list">
    <li>
      <h2>Time's Up online</h2>
      <p>Une version en ligne du Time's Up pour égayer les apéros Zoom du confinement.</p>
      <p><a href="https://timesup.kimlaitrinh.me">https://timesup.kimlaitrinh.me</a></p>
      <div class="cluster">
          <ul class="taglist">
            <li>HTML</li>
            <li>CSS</li>
            <li>Elixir</li>
            <li>Phoenix</li>
            <li>Phoenix LiveView</li>
          </ul>
      </div>
    </li>
    <li>
      <h2>Boulange</h2>
      <p>Une petite PWA pour calculer les quantités d'eau, farine et levain pour faire du pain.</p>
      <p><a href="https://boulange.kimlaitrinh.me">https://boulange.kimlaitrinh.me</a></p>
      <div class="cluster">
          <ul class="taglist">
            <li>HTML</li>
            <li>CSS</li>
            <li>VueJS</li>
            <li>PWA</li>
          </ul>
    </li>
    <li>
      <h2>tz_world</h2>
      <p>Une librairie pour trouver le fuseau horaire associé à des coordonnées géographiques.</p>
      <p><a href="https://hexdocs.pm/tz_world">https://hexdocs.pm/tz_world</a></p>
      <div class="cluster">
          <ul class="taglist">
            <li>Elixir</li>
          </ul>
    </li>
    <li>
      <h2>Me Likey Radio</h2>
      <p>Une webradio utilisant les APIs de Soundcloud et Youtube.</p>
      <p><a href="https://radio.kimlaitrinh.me">https://radio.kimlaitrinh.me</a></p>
      <div class="cluster">
          <ul class="taglist">
            <li>HTML</li>
            <li>CSS</li>
            <li>Elm</li>
            <li>NodeJS</li>
          </ul>
    </li>
    <li>
      <h2>I got rhythm</h2>
      <p>Petite étude interactive du morceau <em>I got rhythm</em> par Sara Vaughan.</p>
      <p><a href="https://kimlai.github.io/i-got-rhythm/">https://kimlai.github.io/i-got-rhythm</a></p>
      <div class="cluster">
          <ul class="taglist">
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Ramda</li>
            <li>ToneJS</li>
          </ul>
    </li>
  </ul>
</div>
