---
layout: blog_layout.njk
---
<article class="blogpost">
  <div class="stack:3">
      <div class="center-no-intrinsic">
        <div class="stack full-bleed blog-home-header">
          <h1>{{ title }}</h1>
          <div>{{ date | dateFilter }}</div>
        </div>
      </div>
    <div class="center-no-intrinsic post">
      <div class="stack:2">
        {{ content | safe }}
      </div>
    </div>
  </div>
</article>
