---
title: Blog - Kim Laï Trinh
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Kim Laï Trinh</title>
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/app.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body class="blog">
    <header>
      <div class="center-no-intrinsic" style="--measure: 90ch">
        <nav>
          <a href="/">Accueil</a>
          <a href="/blog">Blog</a>
          <a href="/projects">Projets</a>
          <a href="https://github.com/kimlai">Github</a>
        </nav>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <script
      src="//instant.page/5.1.0"
      type="module"
      integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"
    ></script>
  </body>
</html>
