---
title: Blog - Kim Laï Trinh
---
{% extends "layouts/base.njk" %}

{% block extra_css %}
  {% include "css/blog.css" %}
  {% include "css/books.css" %}
{% endblock %}

{% block content %}
  <section class="blog">
    <div class="center-no-intrinsic" style="--measure: 90ch">
      <header>
        <nav>
          <a href="/">
            Kim Laï Trinh
          </a>
          <a href="/blog">Blog</a>
          <a href="/projects">Projets</a>
          <a href="https://github.com/kimlai">Github</a>
        </nav>
      </header>
    </div>
    <main>
      {{ content | safe }}
    </main>
  </section>
{% endblock %}
