<div class="stack">
  <div class="book">
    <div class="left-page">
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Ref.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Olivetti</td>
            <td>EN-M-372</td>
          </tr>
          <tr>
            <td>Oliver VII</td>
            <td>TU-L-736</td>
          </tr>
          <tr>
            <td>Olive's horn</td>
            <td>AR-E-837</td>
          </tr>
          <tr>
            <td>Olivétan</td>
            <td>TU-L-638</td>
          </tr>
          <tr>
            <td>Olivia à Paris</td>
            <td>TU-Z-639</td>
          </tr>
          <tr class="highlighted">
            <td>Oliver Twist</td>
            <td>EN-L-406</td>
          </tr>
          <tr>
            <td>Olivier Debré </td>
            <td>FR-L-839</td>
          </tr>
          <tr>
            <td>Olivier Greif</td>
            <td>FR-L-033</td>
          </tr>
          <tr>
            <td>Olivier Messia</td>
            <td>AL-T-837</td>
          </tr>
          <tr>
            <td>Oliwon</td>
            <td>FR-S-921</td>
          </tr>
          <tr>
            <td>Ollie le râleur</td>
            <td>FR-E-829</td>
          </tr>
        </tbody>
      </table>
      <div class="page-1"></div>
      <div class="page-2"></div>
      <div class="page-3"></div>
      <div class="page-4"></div>
    </div>
    <div class="right-page">
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Ref.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Olli et Ma</td>
            <td>EN-L-003</td>
          </tr>
          <tr>
            <td>O lobisomem</td>
            <td>FR-R-764</td>
          </tr>
          <tr>
            <td>Olof Palme</td>
            <td>EN-R-827</td>
          </tr>
          <tr>
            <td>Olomidé Koffi</td>
            <td>NI-T-019</td>
          </tr>
          <tr>
            <td>O Lord</td>
            <td>LS-E-738</td>
          </tr>
          <tr>
            <td>O lotus azul</td>
            <td>ES-A-930</td>
          </tr>
          <tr>
            <td>Ô Louise</td>
            <td>FR-R-443</td>
          </tr>
          <tr>
            <td>Oltracuidansa</td>
            <td>EN-I-592</td>
          </tr>
          <tr>
            <td>Oltretorrente</td>
            <td>EN-U-192</td>
          </tr>
          <tr>
            <td>Olu iwa</td>
            <td>FR-L-920</td>
          </tr>
          <tr>
            <td>O lusitano</td>
            <td>IT-L-934</td>
          </tr>
        </tbody>
      </table>
      <div class="page-1"></div>
      <div class="page-2"></div>
      <div class="page-3"></div>
      <div class="page-4"></div>
    </div>
  </div>
  <div>
  <p class="text-sm">
    <em>
      Ici, on voit que notre livre a comme référence <strong>EN-L-406</strong>.
      Peut-être bâtiment EN, étage L, salle 406.
    </em>
  </p>
  </div>
</div>
